/resources/public/js/compiled/**
/resources/test/out/**
/server/lib/**
/server/server.js
/resources/test/compiled.js
figwheel_server.log
pom.xml
*jar
*.log
/lib/
/classes/
/out/
/target/
/node_modules/
.lein-deps-sum
.lein-failures
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
